<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">
  <extensions>
    <add assembly="NlogViewer" />
  </extensions>
  <targets>
    <target xsi:type="NlogViewer" 
			name="ctrl" />
	<target name="logfile" 
			xsi:type="File" 
			fileName="${basedir}/logs/log.txt"
			maxArchiveFiles="4"
			archiveNumbering="Date"
            archiveAboveSize="10000000"/>
	<target name="canLogFile" 
			xsi:type="File" 
			fileName="${basedir}/logs/canlog.txt" 
			layout="${longdate}|${message}"
			maxArchiveFiles="4"
			archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="ctrl" />
	<logger name="*" minlevel="Info" writeTo="logFile" />
	<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="canLogFile" />
  </rules>
</nlog>